<% include header %>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">THE_ZOMBIE</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Clases</a></li>
        <li><a href="#">Armas</a></li>
        <li><a href="#">Victimas</a></li>
      </ul>
    </div>
  </nav>


  <% include footer %>